.first{
    color: green;
    background-color: black;
    padding: 10px;
}
#second {
    color: red;
    background-color: lightblue;
    padding: 10px;
}
p{
    color: blue;
    background-color: lightgray;
    padding: 10px;
}
