h2{
color:black;
text-align:center;
background-color:red;
border-radius:20px;
}
#class{
color:#FFD700;
}
#id{
color:#FFC72C;
}
#universal{
color:#F0E68C;
}
body{
background-color:#000807;
color:#CCFF00;
font-size:1.2rem;
}
